{{ $context := .Context }}
{{ $class := .Class }}
{{ $base := site.BaseURL }}


<ul class="{{ $class }} inline-flex space-x-1 capitalize flex-nowrap text-nowrap">
  <a
    class="text-primary dark:text-darkmode-primary"
    href="{{ $base | relLangURL }}">
    {{ i18n "home" | default "Home" }}
  </a>
  <span class="inlin-block mr-1">/</span>
  {{ range $i, $e:= $context.Ancestors.Reverse }}
    {{ if and (not .IsHome) (ne .Title "Pages") }}
      <a
        class="text-primary dark:text-darkmode-primary"
        href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
      <span class="inlin-block mr-1">/</span>
    {{ end }}
  {{ end }}
  <span class="text-primary dark:text-darkmode-primary">
    {{ $context.Title }}
  </span>
</ul>
