<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}">
    {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mb-6 w-full rounded-xl") }}
  </a>
  {{ end }}
  <h4 class="mb-1">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <ul class="mb-4 flex items-center flex-wrap gap-2">
    <li class="inline-block flex gap-2">
      {{ $categories:= .Param (printf "%s/%s" .Section "categories") }}
      {{ range $i,$p:= $categories }}
        <a
          href="{{ (printf "%s/%s" $.Section "categories") | relLangURL }}/{{ . | urlize | lower }}"
          class="bg-primary rounded px-3 py-1 text-light"
          >
          <i class="fa-regular fa-folder mr-2"></i>
          {{ . | humanize }}
        </a>
      {{ end }}
    </li>
    {{ if or .Params.date .Params.end_date }}
    <li class="inline-block rounded px-3 py-1 text-light bg-secondary dark:text-dark dark:bg-theme-light">
      {{ if and .Params.date .Params.end_date  }}
      <i class="fa-regular fa-calendar mr-1"></i>
      {{ time.Format ":date_long" .Params.date }}
      -
      {{ time.Format ":date_long" .Params.end_date }}
      {{ else }}
      {{ if .Params.date }}
      <i class="fa-regular fa-clock mr-1"></i>
      {{ time.Format ":date_long" .PublishDate }}
      {{ end }}
      {{ end }}
    </li>
    {{ end }}
  </ul>
  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-secondary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
</div>
