<div class="flex flex-col h-full w-full bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}" class="">
      <div class="w-full aspect-square mb-6 rounded-xl overflow-hidden">
        {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "aspect-square object-cover") }}
      </div>
    </a>
  {{ end }}
  <div class="flex flex-col flex-grow mb-4">
    <h4>
      <a href="{{ .RelPermalink }}" >
        {{ .Title }}
      </a>
    </h4>
    <p class="mb-6">{{ .Params.Summary }}</p>
  </div>
  <ul class="mb-4 flex items-center flex-wrap gap-2">
    <!-- {{ if .Param (printf "%s/%s" .Section "categories") }}
      <li class="flex gap-2">
        {{ $categories:= .Param (printf "%s/%s" .Section "categories") }}
        {{ range $i,$p:= $categories }}
          <a
            href="{{ (printf "%s/%s" $.Section "categories") | relLangURL }}/{{ . | urlize | lower }}"
            class="bg-primary rounded px-3 py-1 text-light">
            <i class="fa-regular fa-folder mr-2"></i>
            {{ . | humanize }}
          </a>
        {{ end }}
      </li>
    {{ end }}
    {{ if .Param (printf "%s/%s" .Section "duration") }}
      <li class="flex gap-2">
        {{ $categories:= .Param (printf "%s/%s" .Section "categories") }}
        {{ range $i,$p:= $categories }}
          <a
            href="{{ (printf "%s/%s" $.Section "categories") | relLangURL }}/{{ . | urlize | lower }}"
            class="bg-primary rounded px-3 py-1 text-light">
            <i class="fa-regular fa-folder mr-2"></i>
            {{ . | humanize }}
          </a>
        {{ end }}
      </li>
    {{ end }}
    {{ if or .Params.quantity .Params.duration }}
      <div class="flex flex-row flex-nowrap gap-2 @container">
        {{ if .Params.duration }}
          <span
            class="btn-sm btn-primary hover:bg-primary hover:text-white font-bold">
            <i class="fa fa-clock mr-2"></i>
            {{ .Params.duration }}
          </span>
        {{ end }}
        {{ if .Params.quantity }}
          <span
            class="btn-sm btn-secondary hover:bg-secondary hover:text-white font-bold">
            <i class="fa fa-users mr-2"></i>
            {{ .Params.quantity }}
          </span>
        {{ end }}
      </div>
    {{ end }} -->
    <li
      class="inline-block rounded px-3 py-1 text-light bg-secondary dark:text-dark dark:bg-theme-light">
      <i class="fa-regular fa-clock mr-1"></i>
      {{ time.Format ":date_long" .PublishDate }}
    </li>
  </ul>
</div>
