<div class="grid sm:grid-cols-2 lg:grid-cols-3 gx-5 py-3 gap-5">
  <!-- blog posts -->
  {{ $paginator:= .Paginate .Pages 10 }}
  {{ range $paginator.Pages }}
  <div class="">
    <div class="bg-white rounded-xl shadow-xl">
      {{ $image:= .Params.thumbnail }}
      {{ if $image }}
        <a href="{{ .RelPermalink }}">
          {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "rounded-t-xl aspect-square object-cover object-center") }}
          <div
            class="p-6 bg-dark text-white dark:bg-body dark:text-dark rounded-b-xl">
            <h4 class="mb-1 text-white dark:text-dark text-center">
              {{ .Title }}
            </h4>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ partial "components/pagination.html" . }}
</div>