<div class="flex flex-col h-full w-full bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}" class="">
      <div class="w-full aspect-square mb-6 rounded-xl overflow-hidden">
        {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "aspect-square object-cover") }}
      </div>
    </a>
  {{ end }}


  <div class="flex flex-col flex-grow mb-4">
    <h4>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
    <p class="mb-6">{{ .Params.Summary }}</p>
  </div>

  {{ partial "components/fringale-info" . }}
</div>
