<section class="section">
  <div class="container px-6">
    <div class="row">
      <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
        <h2 class="mb-4 font-tertiary font-extrabold">
          {{ .Title | markdownify }}
        </h2>
        <p>
          {{ .Description | markdownify }}
        </p>
      </div>
      <div class="col-12">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            {{ range .Posts }}
              <div class="swiper-slide">
                {{ partial "components/actu-card" . }}
              </div>
            {{ end }}
          </div>
          <div
            class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
