{{ $scope := .scope }}

{{ $allWidgets := slice "tags" "category" }}
{{ $widgetNonEmpty := false }}
{{ range $widget := $allWidgets }}
  {{ $taxonomy := index site.Taxonomies (printf "%s/%s" $scope.Section $widget) }}
  {{ $widgetNonEmpty = or $widgetNonEmpty (and $taxonomy (not (eq (len $taxonomy) 0) )) }}
{{ end }}

{{ if $widgetNonEmpty }}
<div class="top-0 sticky flex flex-col items-center">
  <div class="absolute w-full h-20 bg-gradient-to-b from-white z-0"></div>
  
  <div class="relative px-3 pt-4 z-10 max-w-screen-md w-full">
    {{ partial ( print "components/tag-selector" ) ( dict "scope" $scope ) }}
  </div>
</div>
{{ end }}