{{ define "main" }}
  <div class="flex flex-col flex-grow">
    {{ partial "page-header" . }}
    {{ $bgimage := resources.Get .Params.background }}
    <section
      class="flex flex-col flex-grow hero-section bg-[url('{{ $bgimage.RelPermalink | safeHTMLAttr }}')] bg-left bg-cover">
      <div class="flex justify-center container p-5 min-h-full">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
          {{ range  $index, $page := .Pages.ByWeight }}
            {{ if ne $page.Params.hidden true }}
              <a
                class="flex bg-white dark:bg-darkmode-body rounded-xl shadow-xl w-full max-h-48 overflow-hidden"
                href="{{ $page.RelPermalink }}">
                {{ $image:= $page.Params.thumbnail }}
                <div class="flex">
                  <div class="h-full aspect-square block">
                    {{ partial "image" (dict "Src" $image "Alt" $page.Title "Class" "object-cover object-center min-h-full") }}
                  </div>
                </div>

                <!-- FIXME: The title do overflows -->
                <div class="flex flex-col p-6 min-w-48">
                  <h2 class="mb-1 flex-grow">
                    <div class="h-full w-full overflow-auto text-3xl">
                      {{ $page.Title }}
                    </div>
                  </h2>

                  <!-- Infos -->
                  {{ if or $page.Params.quantity $page.Params.duration }}
                    <div class="flex flex-row flex-nowrap gap-2 @container">
                      {{ if $page.Params.duration }}
                        <span
                          class="btn-sm btn-primary hover:bg-primary hover:text-white font-bold">
                          <i class="fa fa-clock mr-2"></i>
                          {{ $page.Params.duration }}
                        </span>
                      {{ end }}
                      {{ if $page.Params.quantity }}
                        <span
                          class="btn-sm btn-secondary hover:bg-secondary hover:text-white font-bold">
                          <i class="fa fa-users mr-2"></i>
                          {{ $page.Params.quantity }}
                        </span>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  </div>
{{ end }}
