.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary text-light dark:text-light hover:bg-light hover:text-primary dark:hover:bg-light dark:hover:text-primary;
}

.btn-outline-primary {
  @apply border-primary bg-light text-primary dark:text-primary hover:bg-primary hover:text-light dark:hover:bg-primary dark:hover:text-light;
}

.btn-secondary {
  @apply border-secondary bg-secondary text-light dark:text-light hover:bg-light hover:text-secondary dark:hover:bg-light dark:hover:text-secondary;
}

.btn-outline-secondary {
  @apply border-secondary bg-light text-secondary dark:text-secondary hover:bg-secondary hover:text-light dark:hover:bg-darkmode-light dark:hover:text-dark;
}
