// Add your own custom styles here
.member-card {
    border: 0px;
    border-radius: 20px;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: inherit;
        text-decoration: underline;
    }

    img {
        border: 0px;
        border-radius: 20px 20px 0 0;
    }

    h4 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0.2rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 500;
    }
}

.banner {
    min-height: 600px;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;

    h1, p {
        text-shadow: 0 0 8px #000;
    }
}