// Add your own custom styles here
.member-card {
  border: 0px;
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  @apply md:flex-col;

  .card-body {
    @apply flex flex-col grow items-center justify-center p-4;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: inherit;
    text-decoration: underline;
  }

  img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0;

    @apply max-sm:hidden max-md:h-32 max-md:min-w-32;
  }

  // Name
  h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;

    @apply max-sm:text-2xl
  }

  // Role
  h5 {
    font-size: 1.25rem;
    font-weight: 500;

    @apply max-sm:text-lg
  }
}

.banner {
  min-height: 50vh;
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;

  h1,
  p {
    text-shadow: 0 0 8px #000;
  }
}

#map {
  height: 50vh;
  width: 100%;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Close button styles */
.close-button {
  position: absolute;
  top: 0px;
  right: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #333;
  /* Change the color to match your design */

  &:hover {
    color: #f00;
  }
}

#open-filter-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

/* IPython split style */
div.splitbox {
  width: 100%;
  overflow: auto;
}

div.splitbox div.left {
  width: 48%;
  float: left;
}
div.splitbox div.right {
  width: 48%;
  float: right;
}

@media only screen and (max-width: 600px) {
  div.splitbox div.left {
    width: 100%;
    float: left;
  }
  div.splitbox div.right {
    width: 100%;
    float: left;
  }
}

.logo-container {
  --logo-blur: 5px;

  background-repeat: no-repeat;

  // FIXME: the background image path is absolute, so that will not work if we're hosting
  // the site on a subdomain path (eg 180c.ch/something/)
  background-image: url("/images/logo.png");
  background-size: calc(100% - 4 * var(--logo-blur));
  background-position: top calc(2 * var(--logo-blur)) left calc(2 * var(--logo-blur));
  // background-size: contain;

  &:hover {
    .logo {
      backdrop-filter: blur(var(--logo-blur));
    }
  }

  margin: calc(-2 * var(--logo-blur));
  
  .logo {
    backdrop-filter: blur(0px);

    width: 100%;
    height: 100%;
    
    padding: calc(2 * var(--logo-blur));
  }
}
