// navbar toggler
.toggle {
  & > label {
    @apply cursor-pointer
  }

  & > input:checked + label #show-toggle {
    @apply hidden;
  }

  & > input:checked + label #hide-toggle {
    @apply block;
  }
}

// input#nav-toggle:checked + label #show-button {
//   @apply hidden;
// }

// input#nav-toggle:checked + label #hide-button {
//   @apply block;
// }

#nav-toggle:has(input[type="checkbox"]:checked) ~ #nav-menu {
  @apply block lg:flex;
}

#nav-menu {
  @apply order-3 hidden lg:flex w-full pb-6 lg:order-1 lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-8;
}

.header {
  @apply bg-body dark:bg-darkmode-body py-6;
}
.header-space {
  min-height: calc(3rem + 80px);
}

.header-dim {
  @apply fixed w-screen h-screen bg-black opacity-0 lg:hidden pointer-events-none z-10;
}
// when in a :has, we don't need to add chain :has again, we just need a space
body:has(#nav-toggle input[type="checkbox"]:checked) .header-dim {
  @apply opacity-25;
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-dark dark:text-darkmode-dark text-xl font-semibold;
  image {
    @apply max-h-[80px] max-w-[80px];
  }
}

.navbar-nav {
  @apply text-center lg:text-left;
}

// .nav-item {
//   @apply mx-3;
// }

.nav-link {
  @apply text-dark hover:text-dark dark:text-darkmode-dark block p-3 font-semibold transition lg:px-2 lg:py-3;
}
.nav-link-active {
  color: rgb(239, 68, 68);
}

.nav-dropdown {
  @apply mr-0;
  & > svg {
    @apply pointer-events-none;
  }
  &.active {
    .nav-dropdown-list {
      @apply block;
    }
  }
}

.nav-dropdown-list {
  @apply bg-body dark:bg-darkmode-body z-10 min-w-[180px] rounded p-4 shadow hidden lg:invisible lg:absolute lg:block lg:opacity-0;
}

.nav-dropdown-item {
  @apply [&:not(:last-child)]:mb-2;
}

.nav-dropdown-link {
  @apply text-dark hover:text-primary dark:text-darkmode-text dark:hover:text-darkmode-primary block py-1 font-semibold transition;
}

//theme-switcher
.theme-switcher {
  @apply inline-flex;

  label {
    @apply bg-border relative inline-block h-4 w-6 cursor-pointer rounded-2xl lg:w-10;
  }

  input {
    @apply absolute opacity-0;
  }

  span {
    @apply bg-dark absolute -top-1 left-0 flex h-6 w-6 items-center justify-center rounded-full transition-all duration-300 dark:bg-white;
  }

  input:checked + label {
    span {
      @apply lg:left-4;
    }
  }
}
