.bg-gradient {
  @apply dark:from-darkmode-theme-light dark:to-darkmode-body bg-gradient-to-b from-[rgba(248,248,248,1)] from-[0.53%] to-white to-[83.28%];
}

.bg-gradient-reverse {
  @apply dark:from-darkmode-theme-light dark:to-darkmode-body bg-gradient-to-t  from-[rgba(248,248,248,1)] from-[0.53%] to-white to-[83.28%];
}

.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

.rounded-t {
  @apply rounded-t-[6px];
}
.rounded-t-lg {
  @apply rounded-t-[12px];
}
.rounded-t-xl {
  @apply rounded-t-[16px];
}

.shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}
