{{ define "main" }}
  <section class="section-sm">
    <div class="container text-center section-pb">
      <h1>{{ .Title | title }}</h1>
      {{ if .Params.Summary }}
        {{ .Params.Summary }}
      {{ end }}
    </div>

    <div class="container">
      <!-- Tag selection -->
      <div class="flex mb-8 w-full">
        <!-- topbar -->
        {{ partial ( print "components/tag-selector" ) ( dict "widget" "categories" "scope" . ) }}
        <!-- widgets -->
        {{ partial ( print "components/tag-selector" ) ( dict "widget" "tags" "scope" . ) }}
      </div>

      <!-- blog posts -->
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gx-5 py-3 gap-5">
        {{ $paginator:= .Paginate .RegularPages 6 }}
        {{ range $paginator.Pages }}
          <div class="">
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>
      {{ partial "components/pagination.html" . }}
    </div>
  </section>
{{ end }}
