{{ define "main" }}
  <!-- FIXME : That page has white chunks appearing when scrolling on iOS -->

  <!-- <section>
    <div class="container text-center">
      <div
        class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8"
      >
        {{ partial "components/breadcrumb" (dict "Context" . "Class" "mt-6 mb-6") }}
      </div>
    </div>
  </section> -->

  {{ $imagePath := .Params.image | absURL }}

  <section class="relative">
    <div class="section-sm relative z-10 flex max-md:flex-col items-center justify-center">
      <!-- Tiled background -->
      <div class="absolute w-full h-full overflow-hidden z-0 bg-gray-100">
        <div class="
          absolute 
          translate-center 
          bg-[url({{ $imagePath }})] bg-size-[80px] bg-repeat-space
          saturate-0 opacity-5 
          w-[120%] h-[700px] 
          rotate-6"
        ></div>
        <div class="relative bg-gradient-to-b to-80% to-white/25 from-transparent w-full h-full z-10"></div>
      </div>

      <!-- Header -->
      <div class="container flex max-md:flex-col items-center justify-center z-10">
        <div class="flex items-center grow-0 shrink-0">
          {{ $image:= .Params.image }}
          <div class="max-w-96 w-full border-2 border-white rounded-xl overflow-hidden shadow-xl">
            {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full aspect-square object-cover") }}
          </div>
        </div>
  
        <div class="flex flex-col items-start max-md:items-center max-md:mt-7 md:ml-7 ">
          <h1 class="h2 pb-2 max-md:text-center">
            {{ .Title }}
          </h1>
        
          <div class="flex items-center text-lg">
            <div class="mr-1">
              <i class="fa-regular fa-circle-user mr-1"></i>
              {{ if .Params.author }}
                {{ .Params.author }}
              {{ else }}
                180°C
              {{ end }}
            </div>
      
            ,
      
            <div class="mx-1">
              <i class="fa-regular fa-calendar mr-1"></i>
              {{ time.Format ":date_short" .PublishDate }}
            </div>

            ,

            {{ partial "components/time-indicator" (dict "timeMin" .Params.lectureTimeMin "class" "ml-1") }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-sm justify-center bg-gradient-reverse relative z-10">
    <div class="container flex items-center justify-center">
      <!-- Sticky header gradient -->
      <!-- <div class="sticky top-0 bg-gradient-to-b from-white section-sm pb-0 z-10"></div> -->

      <article class="lg:col-10 z-0">
        <div class="content mb-10">
          {{ .Content | safeHTML }}
        </div>
        
        <!-- TODO : Remplement -->
        <!-- <div class="lg:col-4 flex items-center">
          {{ partial "social-share" (dict "Class" "share-icons" "Title" (i18n "share") "Reddit" false "Twitter" false) }}
        </div> -->
      </article>
    </div>
  </section>

  <!-- Related posts -->
  {{ $related := (where site.RegularPages "Section" .Section) | intersect (where site.RegularPages ".Title" "!="
    .Title)
  }}
  {{ $related = $related | shuffle | first 3 }}
  {{ with $related }}
    {{ partial "components/posts-swipe" (dict "Title" (i18n "related_posts") "Posts" $related) }}
  {{ end }}
{{ end }}
