{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <!-- Tag selection -->
      <div class="row">
        <!-- topbar -->
        <div class="lg:col-6">
          <!-- widgets -->
          {{ partial ( print "components/widget" ) ( dict "widget" "categories" "scope" . ) }}
        </div>
        <div class="lg:col-6">
          <!-- widgets -->
          {{ partial ( print "components/widget" ) ( dict "widget" "tags" "scope" . ) }}
        </div>
      </div>

      <!-- blog posts -->
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gx-5 py-3 gap-5">
        {{ $paginator:= .Paginate (where .Site.Pages "Type" "recette") 6 }}
        {{ range $paginator.Pages }}
          {{ partial "components/blog-card" . }}
        {{ end }}
      </div>
      {{ partial "components/pagination.html" . }}
    </div>
  </section>
{{ end }}
