{{ define "main" }}
<section>
  <div class="container text-center">
    <div
      class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8">
      {{ partial "components/breadcrumb" (dict "Context" . "Class" "mt-6 mb-6") }}
    </div>
  </div>
</section>

{{ $config := index .Site.Data "config-crieur" | default (dict) }}

<!-- Banner -->
{{ if .Params.banner }}
<section class="section p-0 m-0">
  <div class="row banner flex flex-col m-0 p-0 items-center justify-end" {{ partial `bg-image.html` (dict `Src`
    .Params.banner ) | safeHTMLAttr}}>
    <svg class="m-0 p-0 flex" xmlns="http://www.w3.org/2000/svg" viewBox="0 180 1440 120">
      <path class="fill-light dark:fill-darkmode-body" fill-opacity="1"
        d="M0,224L120,234.7C240,245,480,267,720,272C960,277,1200,267,1320,261.3L1440,256L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>
  </div>
</section>
{{ end }}
<!-- /Banner -->


<!-- == CONTAINER 1 == -->
<section class="col-12 p-0 m-0 mt-5">
  <div class="container col-12">
    <div class="row m-0 p-0">
      <div class="sm:col-12 {{ if .Params.gallery }}lg:col-6{{end}} p-3 text-left my-2">
        <h1 class="d-inline title">
          {{ $site := "none" }}
          {{ range $link := .Params.links }}
          {{ if eq $link.social "site" }}
          {{ $site = $link.url }}
          {{ end }}
          {{ end }}
          {{ if ne $site "none" }}
          <a href="{{ $site }}" target="_blank">{{ .Params.title }}</a>
          {{ end }}
        </h1>
        <h3 class="mb-2 font-light italic">{{ .Params.style }}</h3>
        <!-- Types -->
        {{ if .Params.types }}
        <div class="flex flex-row gap-2 align-center mb-2">
          {{ range $type_code := .Params.types }}
          {{ $type := index $config.types $type_code }}
          <span class="type flex flex-row gap-2">
            {{ $type.icon | safeHTML }}
            <span>{{ $type.name }}</span>
          </span>
          {{ end }}
        </div>
        {{ end }}
        <div class="tags flex flex-row gap-2 items-center flex-wrap">
          <!-- Price -->
          <span class="price rounded-xl bg-primary text-light px-3 py-1">
            {{ if gt .Params.priceTag 0 }}
            {{ range seq .Params.priceTag }}<i class="fas fa-dollar-sign"></i>{{ end }} ({{ .Params.price }})
            {{ end }}
          </span>
          <!-- Tags -->
          {{ if .Params.tags }}
          {{ range $tag_code := .Params.tags }}
          {{ $tag := index $config.tags $tag_code }}
          <div
            class="tag rounded-xl text-light bg-dark dark:bg-light dark:text-dark flex flex-row gap-2 items-center px-3 py-1">
            <span>{{ $tag.icon | safeHTML }}</span>
            <span>{{ $tag.name }}</span>
          </div>
          {{ end }}
          {{ end }}
        </div>
        <div class="text-justify my-8">
          <p>{{ .Params.description }}</p>
        </div>
        {{ if .Params.tips }}
        <div class="bg-gray-100 border-l-4 border-gray-500 text-gray-700 p-4 rounded-r-lg" role="alert">
          <p class="font-bold"><i class='fas fa-lightbulb'></i> Tips</p>
          <p>{{ .Params.tips }}</p>
        </div>
        {{ end }}
      </div>

      {{ if .Params.gallery }}
      <div class="sm:col-12 lg:col-6 my-2">
        {{ partial "slider.html" (dict "Dir" .Params.gallery "Command" "Fill" "Height" "500" "Width" "500" "Class" "rounded-lg" ) }}
      </div>
      {{ end }}

      {{ if and .Params.tops (gt (len .Params.tops) 0) }}
      <hr class="my-3">
      <div class="col-12 py-4 my-2 text-center">
        <h2>Recommandations</h2>
        <div class="row m-0 p-0 justify-center">
          {{ range $top := .Params.tops }}
          <div class="sm:col-12 md:col-6 lg:col-4 m-0 p-4">
            <div class="bg-dark text-light dark:bg-light dark:text-dark rounded-xl m-0 p-0">
              {{ if $top.photo }}
              {{ partial "image" (dict "Src" $top.photo "Alt" "top image" "Class" "rounded-t-xl") }}
              {{ end }}
              <div class="p-5">
                <h4 class="text-light dark:text-dark">{{ $top.name }}</h4>
                <h6 class="text-light dark:text-dark"><i>{{ $top.price }}</i></h6>
                <hr class="my-3 dark:divide-black">
                <p>{{ $top.description }}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}



      <hr class="my-3">
      <div class="col-12 py-4 my-2 order-4">
        {{ range $location := .Params.locations }}
        <div class="row mt-0 mb-4 mx-0 py-3 px-0">
          <div class="sm:col-12 lg:col-6 xl:col-8 mb-3">
            <h4 class="text-center mb-3">{{ $location.address }}</h4>
            <iframe src="{{ $location.map | safeHTML }}" width="100%" height="450" style="border:0;" allowfullscreen=""
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="sm:col-12 lg:col-6 xl:col-4 p-0 flex items-center justify-center">
            <div class="flex flex-col sm:flex-row gap-6 p-3">
              <div
                class="rounded-xl bg-dark text-light dark:bg-light dark:text-dark shadow p-5 mt-0 flex flex-col justify-center items-center gap-3">
                <h5 class="text-center text-light underline dark:text-dark">Horaires</h5>
                <table>
                  <tbody>
                    {{ range $schedule := $location.schedules }}
                    {{ if eq (len $schedule.creneaux) 0 }}
                    <tr>
                      <th class="align-top text-right">
                        <span class="align-top text-right mr-3">
                          {{ $schedule.name }}
                        </span>
                      </th>
                      <td>
                        Fermé
                      </td>
                    </tr>
                    {{ else }}
                    {{ range $i, $creneau := $schedule.creneaux }}
                    {{ if eq $i 0 }}
                    <tr>
                      <th class="align-top text-right" rowspan="{{ len $schedule.creneaux}}">
                        <span class="align-top text-right mr-3">
                          {{ $schedule.name }}
                        </span>
                      </th>
                      <td>
                        {{$creneau.start}} - {{$creneau.end}}
                      </td>
                    </tr>
                    {{ else }}
                    <tr>
                      <td>
                        {{$creneau.start}} - {{$creneau.end}}
                      </td>
                    </tr>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
              <div>
                <ul
                  class="social-icons flex flex-row sm:flex-col gap-4 justify-center align-center rounded-xl shadow bg-dark dark:bg-light px-4 py-4
                  space-x-0">
                  {{ range $link := $.Params.links }}
                  <li>
                    <a href="{{ $link.url }}" data-code="{{ $link.social }}" target="_blank">
                      {{ if $link.social }}
                      {{ index $config.socials $link.social | safeHTML }}
                      {{ end }}
                    </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- == /CONTAINER 1 == -->
{{ end }}