{{ $class := .Get "class" }}
{{ $image := .Get "image" }}
{{ $side := .Get "side" | default "right" }}
{{ $title := .Get "title" }}
{{ $imgclass := .Get "imgclass" | default "" }}


<section
  class="section-sm py-2 {{ $class }}">
  <div class="container px-10">
    <div class="row items-center justify-between">
      <div class='m-0 {{ if eq $side "right" }}
          md:order-2
        {{ end }} md:col-5'>
        {{ partial "image" (dict "Src" $image "Alt" "feature image" "Class" $imgclass) }}
      </div>
      <div class='m-0 {{ if eq $side "right" }}
          md:order-1
        {{ end }} md:col-7 lg:col-6'>
        {{ if $title }}
        <h2 class="mb-4 font-tertiary font-extrabold">
          {{ $title | markdownify }}
        </h2>
        {{ end }}
        <div class="mb-8 text-lg">
          <p>{{ .Inner | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>